/* HEADER STYLES */
header
{
    padding: 30px 0;
}

header ul
{
    display: flex;
    align-items: center;
}

header ul li
{
    padding: 0 40px;
}

header ul li:first-child
{
    padding-left: 0;
}

header ul li:last-child
{
    padding-right: 0;
}

header ul li a
{
    color: #ffe449;
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

header ul li a:hover::after, header ul li a.is-active::after
{
    content: '';
    background: white;
    height: 5px;
    position: absolute;
    width: 120%;
    left: -3px;
    z-index: -1;
    bottom: -7px;
    right: -3px;
    filter: opacity(50%);
    background: linear-gradient(
        to top,
        rgb(255, 255, 255) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    text-shadow: 0 7px 3px rgba(0,0,0,0.7);
    
}

/* MENU STYLES */
.menu
{
cursor: pointer;
}

.menu span
{
    width: 20px;
    height: 3px;
    background: #ffe449;
    display: block;
    margin-bottom: 4px;
}

.menu span:last-child
{
    margin-bottom: 0;
}