 /* Style the video: 100% width and height to cover the entire window */
 #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    filter: grayscale(10%) opacity(79%);
    box-shadow: inset 0 0 100px black;
    

  }

  